################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/packages
/TrafficOpenApi.Core/bin/Debug
/TrafficOpenApi.Core/obj/Debug
/TrafficOpenApi.WebApi/bin
/TrafficOpenApi.WebApi/obj/Debug
